!libs/wireshark/profiles/*
!libs/wireshark/profiles
!docs/.vuepress/public/*
!package-lock.json
!modules/python/libs/*

Captures/

*.zip

*.pyc

*.vkrnlproj

*.symvers

*.order

*.o

*.a

*.cmd

*.d

*.ko

*.ur-safe

Results/

*.pcapng

*.pcap

wireshark-3.2.1/build/*
wireshark/build/*

*.gch

*.gcda

wireshark-3.2.1/build_type_library
wireshark/build_type_library

build/

bin/

CMakeFiles/

.gdb_history

capinfos

captype

dftest

dumpcap

editcap

fuzzshark

idl2wrs

lemon

macpdu2wireshark

lte_fuzzer

mergecap

mmdbresolve

sharkd

*.dot

randpkt

rawshark

reordercap

shm_client

shm_server

state.svg:cairo

states.png

text2pcap

tshark

esp32_bt_test.py

.bash_history

repo.tar.gz

update/

release/wdissector.tar.gz

release/docker-wdissector.tar.gz

bluetooth-classic-sec/

update2/

release/wdfuzzer/

release/wdfuzzer.tar.gz

libs/cef-cmake/cef_binary_3.3683.1920.g9f41a27_linux64_minimal/

libs/cef-cmake/cef_binary_3.3683.1920.g9f41a27_linux64_minimal.tar.bz2

.vscode-server-insiders/

GPUCache/

crashes/

release/

hci_dump.pklg

.ssh/

.local/

libs/cef-cmake/cef_binary_86.0.21\+g6a2c8e7\+chromium-86.0.4240.183_linux64_minimal.tar.bz2

libs/cef-cmake/cef_binary_83.3.9\+ged43e55\+chromium-83.0.4103.61_linux64_minimal.tar.bz2

libs/cef-cmake/cef_binary_79.1.3\+ga5342ed\+chromium-79.0.3945.88_linux64_minimal.tar.bz2

libs/cef-cmake/cef_binary_76.1.5\+gd8a577c\+chromium-76.0.3809.87_linux64_minimal.tar.bz2

libs/cef-cmake/cef_binary_75.0.3\+g699a922\+chromium-75.0.3770.80_linux64_minimal.tar.bz2

libs/cef-cmake/cef_binary_86.0.21\+g6a2c8e7\+chromium-86.0.4240.183_linux64_minimal/

libs/cef-cmake/cef_binary_75.0.3\+g699a922\+chromium-75.0.3770.80_linux64_minimal/

libs/cef-cmake/cef_binary_76.1.5\+gd8a577c\+chromium-76.0.3809.87_linux64_minimal/

libs/cef-cmake/cef_binary_79.1.3\+ga5342ed\+chromium-79.0.3945.88_linux64_minimal/

libs/cef-cmake/cef_binary_83.3.9\+ged43e55\+chromium-83.0.4103.61_linux64_minimal/

libs/makeheaders.c

src/makeheaders

VideoDecodeStats/

CMakeCache.txt

modules/python/

libs/pagmo2/cmake_uninstall.cmake

libs/pagmo2/pagmo-config-version.cmake

libs/pagmo2/pagmo-config.cmake

libs/pagmo2/include/pagmo/config.hpp

gpu.txt

.gnupg

logs/

new_crash/

*.sbc

*.wav

*.pklg

modules/dist-packages/esptool/

modules/dist-packages/ppci/

pids

logs

node_modules

npm-debug.log

coverage/

run

dist

.DS_Store

.nyc_output

.basement

config.local.js

basement_dist

builds/

public/

docs/.vuepress/components/Fa/

save/

src/drivers/bluetooth/get-platformio.py

src/drivers/bluetooth/firmware.elf

reports/

src/drivers/firmware_bluetooth/get-platformio.py

src/drivers/firmware_bluetooth/sdkconfig.old

poc/

core

bindings/go/example

.directory

.3gpp

docs/doxygen/html/

src/drivers/wifi/rtl8812au/ckati

modules/reportsender/token.json

modules/reportsender/credentials.json

modules/eval/.vscode/

modules/eval/backup/

modules/eval/later/

java_test/

caps/

ttt/

backup/

yuga/

3rd-party/open5gs-latest/

3rd-party/yaml/

wireshark_generic_dissector_traces.txt

examples/wdmapper/*.svg

examples/wdmapper/*.pdf

updates/

/*.pcapng
/*.svg
/*.diff
/*.patch
/*.jpg
refs/
bindings/python/wdissector_wrap.cxx
bindings/python/wdissector.py

maps/

evals/

videos/

modules/eval/BlueFuzz

modules/eval/bss

scripts/WiresharkQMIDissector
