*.sw?
*.o
*.a
*.so
*.lo
*.la

src/Makefile
src/autom4te.cache
src/config.h
src/config.log
src/config.status
src/configure
src/mpsse_wrap.c
src/pylibmpsse.py

src/examples/bitbang
src/examples/ds1305
src/examples/gpio
src/examples/i2ceeprom
src/examples/spiflash
src/examples/spiflashfast

.deps*
.libs*
src/stamp-h1
Makefile
Makefile.in
aclocal.m4
ar-lib
autoscan.log
build
build/*
compile
config.guess
config.sub
configure.scan
depcomp
install-sh
libtool
ltmain.sh
missing
mpsse_wrap_python.c
py-compile
pyswig_*.c
m4
libftdi
pack

bitbang

ds1305

gpio

i2ceeprom

spiflash

spiflashfast

!libftdi1-static.a
!libmpsse-static.a
!m4_ax_append_flag.m4

src/mpsse_config.h.in
